@media(max-width:767px){
	
}

@media(max-width:992px){
	.center-med {
		text-align: center !important;
	}

	#front_page {
		/*padding: 0 32px;*/
	}

	.pad-32-med {
		padding: 32px !important;
	}
}

@media(min-width:768px){}

@media(min-width:992px){}

@media(min-width:1200px){}