/*
Theme Name: Ayyana
Theme URI: http://
Author: Scott Hedstrom
Author URI: http://astralmedia.org/
Description: Theme
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: Ayyana

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body {
	background: #000;
	font-family: 'Didact Gothic', sans-serif !important;
}

.blue-row {
	background: #3cb8eb;
	margin-top: 24px;
	padding: 24px;
}

.blue-row h1 {
	color: #fff;
	font-family: 'Didact Gothic', sans-serif !important;
	font-size: 28px;
	text-align: center;
}

#front_page {
	/*max-width: 992px;*/
}

.intro {
	color: #211f54;
	font-size: 32px;
}

.logo {
	max-width: 100%;
	margin: 0px auto;
}



/* Utilities */

.center {
	text-align: center;
}

.light-header {
	color: #63c8f3 !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.med-font {
	font-size: 22px;
}